.add-task-container-child {
    width: 40vw;
    height: 90vh;
    display: flex;
    justify-content:center;
    align-items: center;
    order: 3;
  }
  .add-task-container-child input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    
  }
  .add-task-form.dark{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 0px;
    border-radius: 10px;
    width: 25vw;
    height: 25vw;
    max-width: 400px;
    background-color: #1e1e1e;
    border-radius: 12px;
    box-shadow: 
          inset 4px 4px 6px #414141,
          inset -4px -4px 8px #000000,
          6px 6px 12px #1a1a1a,
          -6px -6px 12px #252525d2;
    padding: 20px;
    color: #ffffff;
    margin: 20px;
  
  }
  .add-task-form.light {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 0px;
    border-radius: 10px;
    width: 25vw;
    height: 25vw;
    max-width: 400px;
    background-color: #f4f4f4; /* Light background color */
    border-radius: 12px;
    box-shadow: 
          inset 4px 4px 6px #ffffff, /* Light box shadow */
          inset -4px -4px 6px #5251515b, /* Light box shadow */
          6px 6px 12px #38383893, /* Light box shadow */
          -6px -6px 12px #bebebe23; /* Light box shadow */
    padding: 20px;
    color: #000000; 
    margin: 20px;
}
  .add-task-form.dark:hover{
    box-shadow: 
    inset 4px 4px 6px #0e0e0e,
    inset -4px -4px 6px #3f3f3f,
    8px 8px 16px #282828,
    -8px -8px 16px #292929;
  }
.add-task-form.light:hover {
    box-shadow: 
    inset 4px 4px 6px #3a3a3a88,
    inset -4px -4px 6px #b4b4b4,
    8px 8px 16px #ffffff,
    -8px -8px 16px #ffffff;
}
  .add-task-form.dark h1 {
    top:3px;
    left:10px;
    margin-bottom: 20px;
    font-size: 1rem;
    color:rgba(255, 255, 255, 0.808);
  }
  .add-task-form.light h1 {
    top:3px;
    left:10px;
    margin-bottom: 20px;
    font-size: 1rem;
    color:rgba(0, 0, 0, 0.781);
  }
  
  
  .add-task-form.dark input {
    width: 90%;
    height: auto;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    outline: none;
    width: 90%;
    box-sizing: border-box;  
    line-height: 2;
    outline: none;
    background-color: #1e1e1e;
      border-radius: 12px;
      box-shadow: 
          inset 4px 4px 6px #000000,
          inset -4px -4px 6px #4e4e4e48,
          6px 6px 12px #1b1b1b,
          -6px -6px 12px #1b1b1b;
  }
  
  .add-task-form.light input {
      width: 90%;
      height: auto;
      color: #000000;
      padding: 10px 20px;
      font-size: 16px;
      border: none;
      outline: none;
      width: 90%;
      box-sizing: border-box;  
      line-height: 2;
      outline: none;
      background-color: #f4f4f4;
      border-radius: 12px;
      box-shadow: 
          inset 4px 4px 6px #4242429f,
          inset -4px -4px 6px #41414179,
          6px 6px 12px #ccc9c98e,
          -6px -6px 12px #f0f0f0;
  }
  .add-task-form.dark input:focus {
    box-shadow: 
    inset 4px 4px 6px #4d4d4d,
    inset -4px -4px 6px #1a1a1a80,
    8px 8px 16px #000000,
    -8px -8px 16px #2a2a2a;
  background-color: #2a2a2a;
  }
  .add-task-form.light input:focus {
    box-shadow: 
    inset 4px 4px 6px #ffffff,
          inset -4px -4px 6px #aaaaaa,
          8px 8px 16px #0000008e,
          -8px -8px 16px #dcdcdc;
  background-color: #e0e0e0;
}
.add-task-form.dark input::placeholder{
  color:#dcdcdc

}
  .add-task-form.light input::placeholder{
color: #000000;
  }
  .task-btn.dark{
      background-color: #1e1e1e;
      border-radius: 12px;
      box-shadow: 
          inset 4px 4px 6px #30303083,
          inset -4px -4px 6px #000000,
          6px 6px 12px #2c2c2c,
          -6px -6px 12px #1f1f1f98;
      color: #ffffff;
      padding: 10px 20px;
      text-align: center;
      font-size: 16px;  
      border: none;
  }
  .task-btn.light {
    background-color: #f4f4f4;
    border-radius: 12px;
    box-shadow: 
        inset 4px 4px 6px #ffffff,
        inset -4px -4px 6px #0000006e,
        6px 6px 12px #0a0a0a96,
        -6px -6px 12px #dcdcdc;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;  
    border: none;
    color:#198754;
} 
  .task-btn.dark:hover {
    box-shadow: 
    inset 4px 4px 6px #0e0e0e,
    inset -4px -4px 6px #2a2a2a,
    8px 8px 16px #0e0e0e,
    -8px -8px 16px #2a2a2a;
    color:#198754;
  }
  .task-btn.light:hover {
    box-shadow: 
    inset 4px 4px 6px #00000098,
    inset -4px -4px 6px #dcdcdc,
    8px 8px 16px #ffffff,
    -8px -8px 16px #ffffff;
}
  